@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

$primary: #2a9d8f;
$secondary: #f4a261;
$tertiary: #264653;
$quaternary: #e9c46a;
$quinary: #e76f51;
$light-gray: #f3f3f3;
$dark-gray: #131313;
$border: 1px solid rgba(0, 0, 0, 0.2);

body {
  font-family: "Open Sans", sans-serif;
  width: 80vw;
  margin: 0 auto;
  color: $dark-gray;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

.hero {
  background-color: $light-gray;
  padding: 2rem;
  border-radius: 4px;
  margin: 2rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  hr {
    width: 80%;
  }

  .btn-group {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    a {
      text-decoration: none;
      background-color: $primary;
      color: white;
      padding: 0.5rem 1rem;
      border-radius: 4px;
      transition: background-color 0.2s;
      &:visited {
        color: white;
      }
      &:hover {
        background-color: lighten($primary, $amount: 5);
      }
      &:active {
        // background-color: darken($primary, $amount: 5);
        background-color: $tertiary;
      }
      &:focus {
        border: 1px solid $primary;
        box-shadow: 0 0 5px 0 $primary;
        background-color: lighten($primary, $amount: 5);
      }
      &.home {
        background-color: $secondary;
        &:hover {
          background-color: lighten($secondary, $amount: 5);
        }
        &:active {
          background-color: $quinary;
        }
        &:focus {
          border: 1px solid $secondary;
          box-shadow: 0 0 5px 0 $secondary;
          background-color: lighten($secondary, $amount: 5);
        }
      }
    }
  }
}

a {
  color: $primary;
  text-decoration: none;
}

.tables,
.waitlist {
  margin-bottom: 1rem;
  border: $border;
  border-radius: 4px;

  h2 {
    background-color: $light-gray;
    margin-top: 0;
    padding: 1rem 0 1rem 1rem;
    border-bottom: $border;
  }

  > div {
    background-color: $light-gray;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    margin: 1rem 1rem;
    // border: 1px solid black;

    h4 {
      margin: 0;
    }

    ul {
      padding: 0;
      li {
        list-style: none;
      }
    }
  }
}

form {
  background-color: $light-gray;
  padding: 2rem;
  .input-group {
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
    align-items: center;
    label {
      width: 7ch;
    }
    input {
      width: 50%;
      border-radius: 4px;
      padding: 0.3rem;
      border: $border;
      &:focus {
        border: 1px solid $primary;
        box-shadow: 0 0 5px 0px $primary;
      }
    }
  }
}

button {
  text-decoration: none;
  background-color: $primary;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.2s;
  border: none;
  &:visited {
    color: white;
  }
  &:hover {
    cursor: pointer;
    background-color: lighten($primary, $amount: 5);
  }
  &:active {
    background-color: $tertiary;
  }
  .x {
    color: $dark-gray;
  }
}

.modal {
  transition: all 0.2s;
  .overlay {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 8000;
    top: 0;
    left: 0;
  }

  .content {
    position: fixed;
    width: 50vh;
    height: 30vh;
    top: calc(50% - 20vh);
    left: calc(50% - 25vh);
    background-color: white;
    border-radius: 4px;
    box-shadow: 5px 5px 40px 10px rgba(0, 0, 0, 0.5);
    z-index: 9001;
    .header {
      border-bottom: 1px solid black;
      padding: 1rem 2rem;
      z-index: 9001;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      button {
        background-color: transparent;
        border: none;
        &:hover {
          cursor: pointer;
        }
      }
      .x {
        font-size: x-large;
        // margin-right: 1rem;
      }
    }
    .body {
      padding: 1rem;
      z-index: 9001;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }
    .continue {
      display: flex;
      justify-content: flex-end;
      padding: 0 2rem;
    }
  }
}

.hide {
  display: none;
}
